<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>會員登入首頁</title>
</head>
<body>
    <div class="top">
        <div class="title">歡迎光臨，請輸入帳號密碼</div>
    </div>
    <div class="system-text">登入系統</div>
    <form action="/signin" method="POST">
        帳號 <input type="text" name="account"><br/>
        密碼 <input type="text" name="password"><br/>
        <button>登入</button>
    </form>
    <hr/>
    <div class="system-text">計算正整數的平方</div>
    <form action="/square">
        正整數 <input type="number" name="num"><br/>
        <button>計算</button>
</body>
</html>